.select{
  color: #1A394A;
  font-weight: 400;
  line-height: 100%; /* 18px */
  letter-spacing: 0.18px;
}

.custom-radio{
  color: #464441;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

input[type=checkbox] {
      appearance: none;
      width: 20px;
      height: 20px;
      background-color: #E8E2D8;
      border: 2px solid #464441;
      border-radius: 3px;
      position: relative;
      cursor: pointer;
  }

  input[type=checkbox]:hover {
      border: 3px solid #1A394A;
  }

  input[type=checkbox]:checked {
      background-color: #1A394A;
      border: 2px solid #1A394A;
  }

  input[type=checkbox]:checked::after {
      content: 'v';
      color: white;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -10%);
      font-size: 16px;
  }

  input[type=checkbox]:hover + label{
      font-weight: bold;
      color: #1A394A;
  }
  input[type=checkbox]:checked + label {
      font-weight: bolder;
      color: #1A394A;
  }

  label {
      cursor: pointer;
  }