/* header 相關樣式開始 */
.navbarPC {
  margin: 20px 0px 25px 0px;
  padding: 0px 50px 0px 50px;
  display: flex;
  height: 66px;
}

.navbarSP {
  display: none;
}
/* logo與右邊間距 */
.logo {
  margin-right: 21px;
}
.logoPhoto {
  width: 150px;
}

.list {
  display: flex;
  justify-content: center;
  margin: 0 0 0 30px;
  padding: 0;
}

.list li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 26px;  
  height: 28px;
  width: 114px;
  font-family: 'Gensen', sans-serif;
  font-size: 18px;
}

.list a {
  position: relative;
  display: block;
  height: 28px;
  width: 114px;
  transition: all 0.2s linear 0s;
  text-align: center;
  transition: text-indent 0.2s linear 0s;
}

.linkArrow {
  position: absolute;
  left: 20px;
  top: 0;
  height: 13px;
  width: 11px;
  opacity: 0;
  transform: translateY(50%);
  transition: opacity 0.2s linear 0s;
}

.list a:hover {
  background-color: var(--color-yellow);
  border-radius: 50px;
  text-indent: 20px;
}

.list a:hover .linkArrow {
  opacity: 1;
}


.icons {
  display: flex;
  margin-left: auto; /* 將 icons 列表推到最右邊 */
  align-items: flex-end;
  justify-content: center;
  padding-top: 39px;
}

.icons .member {
  color: black;
  margin-right: 10px;
  font-size: 21px;
}

.icons .cart {
  color: black;
  margin-right: 10px;
  font-size: 21px;
}
/* header 相關樣式結束 */

/* section 相關樣式開始 */
.intro {
  background-color: #fff7e9;
  border-radius: 50px 50px 0 0;
  height: 205px;
  align-items: center; /* 垂直居中 /
  justify-content: center; / 水平居中 */
}
.info {
  gap: 15px;
}
.bread {
  padding-top: 24px;
  text-align: center;
  font-size: 16px;
  color: #1a394a;
  font-family: 'Huninn';
}
.title {
  padding-top: 15px;
  text-align: center;
  font-size: 32px;
  color: #1a394a;
  font-weight: bold;
  font-family: 'Gensen';
}
.subTitle {
  padding-top: 15px;
  text-align: center;
  font-size: 24px;
  color: #1a394a;
  font-family: 'Gensen';
}
/* section 相關樣式結束 */

/* footer 相關樣式開始 */
.footer {
  display: flex;
  background-color: #fff7e9;
  margin-top: auto;
  margin-left: 20px;
  border-radius: 40px 0 0 0;
  padding: 20px 100px 10px 30px;
  justify-content: space-between;
}

.backToTop {
  display: flex;
  padding: 40px 16px 40px 16px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 120px;
  border-radius: 43px 0 0 0;
  position: fixed;
  bottom: 0px;
  right: 0px;
  display: none;
  /* Initially hidden */
  background-color: #ffc800;
  color: black;
  border: none;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: opacity 1s ease, bottom 1s ease;
  animation: slideUp 1s forwards;
}

@keyframes slideUp {
  0% {
    bottom: -50px;

    opacity: 0;
  }

  100% {
    bottom: 0px;
    opacity: 1;
  }
}

.backToTop:hover {
  background-color: #d1a402;
}

.copyRight {
  font-family: 'Huninn', sans-serif;
  font-size: 16px;
}
/* footer 相關樣式結束 */

/* 手機板 */
@media (max-width: 576px) {
  .navbarPC {
    display: none;
  }
  .navbarSP {
    display: block;
    margin: 10px 0;
  }

  .navToggleBtn {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1030;
    border-radius: 0 0 0 30px;
    height: 80px;
    width: 80px;
    cursor: pointer;
  }

  .navToggleIcon {
    height: 56px;
    width: 56px;
  }

  .closeBtnRow button {
    background-color: transparent;
    border: 0;
    height: 52px;
    width: 52px;
  }

  .closeBtnIcon {
    height: 52px;
    width: 52px;
  }

  .icons {
    flex-direction: column;
    margin: 0;
    align-items: flex-start;
    gap: 15px;
    padding: 0;
  }

  .icons li {
    display: flex;
    align-items: center;
  }

  .icons svg {
    height: 24px;
    width: 24px;
    margin-bottom: 4px;
    margin-right: 10px;
  }

  .memberAvatar {
    height: 32px;
    width: 32px;
    object-fit: cover;
    border-radius: 100px;
    margin: 10px 10px 10px 0;
  }
  .logo {
    margin-right: 0;
  }
  .logoPhoto {
    width: 162px;
  }
}
