.joinMember {
  padding: 110px 0;
}

.joinMemberCard {
  max-width: 724px;
  padding: 55px 70px;
  border-radius: 50px;
}

.joinMemberCard h3 {
  margin-bottom: 27px;
}

.joinMember p {
  margin-bottom: 42px;
  font-family: 'Gensen', sans-serif;
  font-size: 22px;
  line-height: 42px;
}

@media (max-width: 576px) {
.joinMember {
  padding: 0 24px;
  margin-bottom: 55px;
}

.joinMemberCard {
  padding: 40px 24px 24px 24px;
}
}