/* product-index.module.css */

.picturetitle {
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  position: absolute;
  color: white;
  opacity: 0;
  transform: translateY(50px) scale(0.5) rotate(0deg);
}
