.fountText {
  color: #1a394a;
  font-size: 40px;
  padding-bottom: 20px;
}
.fountP {
  color: black;
  font-size: 18px;
  padding-bottom: 20px;
}
.fountPrice {
  color: #1a394a;
  font-size: 40px;
  padding-bottom: 60px;
}
.fountTitle {
  font-size: 24px;
}
