.carouselRow {
  display: flex;
  flex-direction: row;
  margin-bottom: 86px;
}

@media (max-width: 888px) {
  .carouselRow {
    display: flex;
    flex-direction: column;
  }

  .carouselTitle {
    align-self: center;
    margin-bottom: 30px;
  }

  .hideBtn {
    display: none;
  }
}