.box1 {
  height: 640px;
  background-color: #fff7e9;
  /* border-radius: 50px; */
  font-size: 18px;
  color: #1a394a;
}
.place {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  color: #1a394a;
}

.box2 {
  background-color: #d8d2cb;
  display: flex;
  height: 40px;
  justify-content: space-between;
  margin-top: 464px;
  /* border-radius: 0px 0px 50px 50px; */
  width: 100%;
}
