.radius50 {
  border-radius: 50px 50px 0 0;
}

.container {
  padding: 0 16px;
}



/* gym_id 詳細頁 新增樣式從此開始*/
.imgContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  overflow-x: auto;
  padding-left: 16px;
  gap: 13px;
  scrollbar-width: none;
  margin: 32px 0;
}

.coverImg {
  width: 85dvw;
  border-radius: 40px;
}

.imgGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 16px;
  gap: 13px;

}

.otherImg {
  width: 85dvw;
  border-radius: 40px;
}

.px8 {
  padding: 0 8px;
}

.btn {
  display: flex;
  width: 100%;
  max-width: 500px;
  gap: 16px;
  margin: 20px 0;
}

.btnLike {
  display: flex;
  width: 40dvh;
  height: 60px;
  padding: 18px 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 18px;
  border-radius: 40px;
  border: 3px solid var(--color-midnight-green);
  background: white;
  font-family: 'Gensen', sans-serif;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 5px;
  color: var(--color-midnight-green);
  /* 保留文本颜色 */
}

.btnReserve {
  display: flex;
  width: 60dvh;
  height: 60px;
  padding: 18px 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 18px;
  color: white;
  border-radius: 40px;
  background: var(--midnight-green, #1a394a);
  font-family: 'Gensen', sans-serif;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 5px;
}

.icon {
  display: flex;
  align-items: center;
}

.details {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  margin-bottom: 48px;
  gap: 48px;
  padding: 0 8px;
}

.h5 {
  color: var(--color-midnight-green);
  margin-bottom: 24px;
}

/* gym_id 詳細頁 新增樣式從此結束*/

@media (width >=768px) {
  .container {
    padding: 0 80px;
  }



  .flexRow {

    height: 70vh;
    margin: 0 80px 50px 80px;
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
    justify-content: space-between;
    gap: 10px;

  }

  /* gym_id 詳細頁 新增樣式從此開始*/
  .imgContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
    padding-left: 16px;
    gap: 13px;
    scrollbar-width: none;
    margin: 32px 80px;
  }

  .coverImg {
    height: 300px;
    width: 45dvh;

  }

  .imgGroup {
    display: flex;

    flex-direction: row;
    align-items: center;
    padding-right: 16px;
    gap: 13px;
  }

  .btn {
    display: flex;
    max-width: 500px;
    gap: 40px;
  }

  .btnLike {
    display: flex;
    width: 150px;
    height: 60px;
    padding: 18px 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 18px;
    border-radius: 40px;
    background: var(--midnight-green, #1a394a);
    font-family: 'Gensen', sans-serif;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 5px;
    color: var(--color-old-lace);
    /* 保留文本颜色 */
  }

  .btnReserve {
    display: flex;
    width: 150px;
    height: 60px;
    padding: 18px 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 18px;
    color: var(--color-old-lace);
    border-radius: 40px;
    background: var(--midnight-green, #1a394a);
    font-family: 'Gensen', sans-serif;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 5px;
  }

  .icon {
    display: flex;
    align-items: center;
  }

  .clicked {
    animation: 0.5s ease-in-out;
    color: var(--color-tomato);
    /* 最终的颜色 */
  }


}

@media(width >=992px) {}