.radius50 {
  border-radius: 50px 50px 0 0;
}

.container{
  padding: 0 16px;
}
.searchAndSwitch {
  /* 寫得很開心 結果用boostrap沒套 */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (width >= 768px){
  .container {
    padding: 0 80px;
  }


}

@media(width >= 992px){

}







