.containerFixedP80 {
  padding: 0 80px;
}

.mt50 {
  margin-top: 50px;
}

.rt50 {
  border-radius: 50px 50px 0 0;
}

.searchAndSwitch {
  display: flex;
  align-items: center;
  justify-content: space-between;
}