// 檔案位置: styles/global.scss
// 變數覆蓋用 (Variable overrides)
// 全站配色 colors
$primary: #1a394a; // midnight green
$secondary: #fff7e9; // old lace
$yellow: #ffc800;
$white-smoke: #f5f5f5;
$light-warm-gray: #e8e2d8;
$warm-gray-50: #8c8983;
$dark-warm-gray: #464441;
$bright-blue: #7abbdf;
$black: #000000;
$white: #ffffff;
$dark-yellow: #e8b600;
$sunset: #e8d6c4;
$danger: #ff6347; // tomato

// ↑↑↑  變數覆蓋(Variable overrides) 要寫在這行"上面"  ↑↑↑
// 導入所有 bootstrap 樣式
@import '~bootstrap/scss/bootstrap';
// ↓↓↓  其它客製樣式要寫在這行的"下面" ↓↓↓

// 定義中文字體用
// @font-face {
//   font-family: 'Gensen';
//   src: url('./fonts/GenSenRounded-B.ttc') format('truetype');
// }

// @font-face {
//   font-family: 'Huninn';
//   src: url('./fonts/jf-openhuninn-2.0.ttf') format('truetype');
// }

* {
  margin: 0;
  padding: 0;
}

#__next{
  display: flex;
  flex-direction: column;
  height: 100%;
}

html,
body {
  height: 100vh;
}

body {
  font-family: 'Huninn', Helvetica, Arial, 'PingFang TC', '苹方-繁', 'Heiti TC',
    '黑體-繁', 'Microsoft JhengHei', '微軟正黑體',
    // Cross-platform generic font family (default user interface font)
    system-ui,
    // Safari for macOS and iOS (San Francisco)
    -apple-system,
    // Windows
    'Segoe UI',
    // Android
    Roboto,
    // Basic web fallback
    'Helvetica Neue',
    Arial,
    // Linux
    'Noto Sans',
    'Liberation Sans',
    // Sans serif fallback
    sans-serif,
    // Emoji fonts
    'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

/* header設定開始*/

.navbar{
    margin: 10px 0px 0px 0px;
    padding: 0px 10px 0px 10px;
    /* background-color: aqua; */
    display: flex;
    /* align-items: center;  */
    height: 66px; ;
}
/* logo與右邊間距 */
.logo{
    margin-right: 21px;
}
.logo_photo{
    width: 150px;
}
.list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.list li {
margin-right: 20px; /* 可選 */
font-family:'Gensen', sans-serif;
font-size: 18px;
padding-top: 21px;
}



.icons {
    display: flex;
    list-style: none; /* 去掉 li 項的圓點 */
    padding: 0; /* 去掉 ul 的內邊距 */
    margin-left: auto; /* 將 icons 列表推到最右邊 */
    align-items: end;
    justify-content: center;
    padding-top: 39px;
}

.icons .member{
    /* color:black; */
    margin-right: 10px;
    font-size: 21px;
}

.icons .cart{
    /* color:black; */
    margin-right: 10px;
    font-size: 21px;
}

/* header設定結束*/


/* section開始 */
.test{
    background-color: pink;
    font-family: 'Huninn',sans-serif;
}
    
/* footer開始 */
    footer {
        display: flex;
        background-color: #FFF7E9;
        margin-top: auto;
        margin-left: 20px;
        border-radius: 40px 0 0 0;
        padding: 20px 100px 10px 30px;
        /* padding: 20px 100px 20px 30px; */
        justify-content: space-between;
    }
    
    #back-to-top {
        display: flex;
        padding: 40px 16px 40px 16px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        height: 120px;
        border-radius: 43px 0 0 0;
        position: fixed;
        bottom: 0px;
        right: 0px;
        display: none;
        /* Initially hidden */
        background-color: #FFC800;
        color: black;
        border: none;
        cursor: pointer;
        font-size: 16px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        transition: opacity 1s ease, bottom 1s ease;
        animation: slideUp 1s forwards;
    }
    
    @keyframes slideUp {
        0% {
            bottom: -50px;
    
            opacity: 0;
        }
    
        100% {
            bottom: 0px;
            opacity: 1;
        }
    }
    
    #back-to-top:hover {
        background-color: #d1a402;
    }

    .copyRight{
    font-family: 'Huninn',sans-serif;
    font-size: 16px;
    }
/* footer結束 */