/* 白底section整體 */
.content{
    margin-top: -30px;
    padding-left:75px;
    border-radius: 50px 50px 0px 0px;
    background: #FFF;
    box-shadow: 0px -4px 50px 0px rgba(0, 0, 0, 0.10);   
}

/* 熱門課程卡片 */
.popularCard{
    margin-top: 50px;
}

/* 搜尋欄 */
.search{
    margin-left: 16px;
}