.test {
  width: 80px;
  height: 80px;
  border: 8px solid #1a394a;
  border-radius: 50%;
  /* background-color: #FFC800; */
  color: black;
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
}
.checkFount {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.8px;
  margin-top: 14px;
}
.size {
  display: flex;
  padding-top: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 14px, */
}
/* 上面為結帳進度圖css */


.Revise{
  margin-top: 50px;
}
.ppp{
  display: flex;
width: 202px;
padding: 0px 22px;
align-items: center;
gap: 20px;
}
.customCheckbox{
border-radius: 5px;
border: 2px solid black;
background: white
}